.logo
{
  width:200px;
}
.fleft
{
  float:left;
}
.fright
{
  float:right;
}
header{
  padding:50px;

}
.clearfix
{
  clear:both;
}
body{
  font-style: 'Lato', sans-serif;
  background-color:#442D4B;
  color:white;
}
header ul li{
  display:inline-block;
}
header ul li a{
  color: #ffcb50;
  text-decoration: none;
}
.add_movie_form{
  width: 500px;
  margin:0 auto;
}
.add_movie_form,h2
{
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}
.add_movie_form label,.add_movie_form input{
  display: block;
}
.add_movie_form input,.add_movie_form textarea,.add_movie_form select{
  width:100%;
background-color:#442D4B;
border: 1px solid white;
margin: 7px 0 15px;
color:white;
padding:0 5px;
font-size: 20px;
font-family: inherit;
}
.add_movie_form input{
  height: 40 px;
}
#Save{
  background-color:#FFFF00;
  color:black;
  border:none;
  text-align:center;
  text-decoration: none;
  padding: 5px 5px;

}
.foot
{
  width:40px;
  height:40px;
  display:inline-block;
  background-color: black;
}
.divide{
  display:inline-block;
  width: 50%;
  padding-left: 10px;
}
